html,body{/*height:100%;*/border:none; color:#000;}
body{
	margin:0px;
	padding:0px;
	background:#FFFFFF;
	width: 100%;
	color:#000;
}
body.home{background:#000;}
#toolbar{position:fixed; z-index:2; right:10px; top:10px; padding:5px; z-index:3000;}
#toolbar img{border:none;}
#img_title{position:fixed; z-index:2; left:10px; top:10px; padding:10px; background:url(img/bckgr_blanc.png); color:#FFF; 
font-family:"Courier New", Courier, monospace, helvetica, arial, serif; font-size:14px; text-transform:uppercase;}
#bg{position:fixed; z-index:1; overflow:hidden; width:100%; height:100%;left:0}
#bgimg{display:none; -ms-interpolation-mode: bicubic;}

#preloader{position:relative; z-index:2; width:32px; padding:20px; top:80px; margin:auto; background:#000;}
#outer_container{
	z-index:3500;
	bottom:2%;
	padding:5px;
	width: 60%;
	height:auto;
	float: left;
	background-color:none;
	position:fixed;
}
#img_title{
	background:none;
	font:"Courier New", Courier, monospace;
	font-size:11px;
	position:fixed; z-index:2; right:10px; top:87%; padding:5px; margin-left:23px;
	}
	
	#rellotge{
	color:#333;
	background-color:#FFF;
	font:"Courier New", Courier, monospace;
	font-size:11px;
	position:fixed; z-index:4000; right:15%; top:3%; padding:5px; margin-left:90px;
	}
.rellotge{ 
	font:"Courier New", Courier, monospace;
	color:#333;
}

.rellotge a:link,active,visited{ 
	font:"Courier New", Courier, monospace;
	color:#333;
}

.rellotge a:hover{ 
	font:"Courier New", Courier, monospace;
	background-color:none;
	color:#000;
	text-decoration:underline;
}

#thumbnoScroller{
	background:none;
	float: left;
	margin-left: 5%;
	height: auto;
}
.outer_container{
position:relative;
	padding-left:0px;
	z-index:1;
	width:100%;
	padding-bottom:0px;
	right:15px;
	margin-left: 20px;
	float: left;
}
#thumbnoScroller .container{
	left:0;
	height: auto;
}


#thumbnoScroller .contingut{
	float: left;
}
#thumbnoScroller .contingut div{
	float: left;
	display:block;
	position:relative;
}
#thumbnoScroller img{border:none;}
#thumbnoScroller a{
	padding:5px;
	float: left;
	border: none;
	display: inline-block;}

#container{position:relative}

#documents_galerie{float}

.spip_logos{float:none}
