
/*Template.css*/

body {
	font-family: courier, monospace, helvetica, arial, sans;
	text-decoration:none;/*Needed to eliminate scrollbars*/
	width:100%;
}

h1 {
font-family: courier, monospace, helvetica, arial, sans;;
}

.pagewrapper {
width: 100%;
}

.templatepagewrapper {
	width: 100%;
	position: relative;
	height: auto;
}

.templatepagewrapper a:hover {

	position: relative;
	height: auto;
	background-image:url(img/bckgr_blanc.png);
	background-repeat:repeat;
}

.home .templatepagewrapper a:hover {
	width: auto;
}
.templateheader {
	position:fixed;
	top:15px;
	margin-top:0px;
	padding-left:0px;
	width:auto;
	float: left;
	z-index:2001;
	left: 40px;
	background-image:url(img/bckgr_blanc.png);
	background-repeat:repeat;
border:none;
}

.a:link {color:#000;}
.templateheader a{
	filter: Alpha(Opacity=95);
	opacity: 0.95; background-color:none;
	border:none;}
	
.templateheader a:hover{
	filter: Alpha(Opacity=0.5);
	opacity: 0.50; background-color:none;
	border:none;}
.templateheader img{
	filter: Alpha(Opacity=95);
	opacity: 0.95; 
	background-color:none;
	border:none;}
	
.page{   height: auto;
    position: relative;
    width: 100%;	} 

.templateleftnav {
	position:fixed;
	top:15px;
	margin-top:0px;
	padding-left:0px;
	width:90%;
	float: left;
	opacity: 1;
	z-index:2001;
	left: 150px;
	background-image:url(img/bckgr_blau.png);
	background-repeat:repeat;
}

.templateleftnav p {	color:#000;
	font-size:12px;
	padding:2px 3px 0px 3px;
	text-decoration: none;
	filter: Alpha(Opacity=95);
	opacity: 0.95;
	background-color:#FFFFFF;}
	
.templateleftnav a {
	color:#000;
	font-size:12px;
	padding:2px 3px 0px 3px;
	text-decoration: none;
	filter: Alpha(Opacity=95);
	opacity: 0.95;
}
.templateleftnav a:hover { 
	color:#000; text-decoration:underline; filter: Alpha(Opacity=95); opacity: 0.95; background-color:#FFF;}
.templateleftnav a:active {  color:#CCCCCC; background-color:#333333; text-decoration:none;}
.templateleftnav a:visited { color:#000000; }
.templateleftnav img { background-color:none;}

.templateleftnav li.active { text-decoration: line-through; list-style:none; }

.templateleftnav ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width:90px;
	line-height: 17px;
}

	.demo{
	position:relative;
	margin-top:8px;
	margin-left: 0px;
	border-top-color: #333333;
	border-top-style: double;
	border-top-width: thin;
	max-width:90%;
}

.headerwrapper  {}

.content  {
	margin-left: 0px;
	float: left;
}

.templatecontent  {
	position:relative;
	padding-left:0px;
	z-index:1;
	width:95%;
	top:80px;
	padding-bottom:0px;
	left:15px;
	margin-left: 30px;
	float: left;
}

.templatefooter {
	clear: both;
	position:relative;
	padding-left:10px;
	z-index:10;
	width:90%;
	margin-top:800px;
	width:90%;
	padding-bottom:35px;
	background-color: #336666;
	display:none;
}

.notemplatefooter {
clear: both;
text-align: left;
}

/* NAV LIST INDEX*/
.project_link a { text-decoration:none; color:#000; font-size:12px; padding:2px 3px 3px 3px; }
.project_link a:hover { color:#000; text-decoration:underline; }
.project_link a:active { color:#CCCCCC;background-color:#333333; }
.project_link a:visited { color:#000000;  text-decoration:none; }
.project_title {
	font-family: courier, monospace, helvetica, arial, sans;	
	font-size:12px;	color: #000; font-style:regular; font-weight:normal; line-height:1.5;
	padding-bottom:15px; margin-top:-30px; margin-left: 0px; margin-right: 10px; }
.popup_title {
	font-family: courier, monospace, helvetica, arial, sans;	
	font-size:12px;	color: #000;font-style:regular;font-weight:bold;line-height:1.5;padding-bottom:10px;margin-left: 0px;}


.publications {
	float:left;
	font-family: courier, monospace, helvetica, arial, sans;
	width:250px;
	background-color:#FFF;
	font-size:12px;
	color: #000;
	font-style:regular;
	line-height:normal;
	padding-bottom:5px;
	margin-right: 10px;
	height: 310px;
	margin-bottom: 10px;
	text-align:center;
}
.publications img {
	float:left;
	margin-bottom: 10px;
	
}
.publications .image{height:260px;}
.publications .title{width:250px;clear:both}

#cboxContent .publications{text-align:left;}
.menu_horitzontal {height:55px; width:100%;	text-decoration: none;}
.menu_horitzontal a{	background-color: #FFFFFF;	text-decoration: none;}
.menu_horitzontal a:link{
	background-color: #FFFFFF;
	text-decoration: none;
}
.menu_horitzontal a:hover{
	background-color: #333333;
	color: #FFFFFF;
	text-decoration: none;
}
.menu_horitzontal a:active{ }
.menu_horitzontal a:visited{
	text-decoration: none;
}
.menu_horitzontal img{ background-color:none;}
.menu_horitzontal img:hover{ background-color:none; }

.left {float:left; z-index:5000; height:100%; width:50%;background-image:url(../img/ontime/fletxa_esquerra.png); background-position:left; background-repeat:no-repeat;}
.right {float:right; z-index:5000; height:100%; width:50%;background-image:url(../img/ontime/fletxa_dreta.png); background-position:right; background-repeat:no-repeat;}


/* FULLSCREEN */


/*WELCOME Styles*/

.welcome {
	position:relative;
	top:25px;
	margin-top:0px;
	left:0px;
	padding-left:0px;
	width:auto;
	margin-bottom: 20px;
	float: left;
	top:25px;
	filter:alpha(opacity=90);
	-moz-opacity:.90;
	z-index:2001;
}

.welcome p {}
.welcome img{ border:none;}
.welcome a {
	color:#000;
	font-size:12px;
	text-decoration: none;
}
.welcome a:hover { color:#000; text-decoration:none; }
.welcome a:active {  color:#CCCCCC; background-color:#333333; text-decoration:none;}
.welcome a:visited { color:#000000; }

.welcome li.active { text-decoration: line-through; list-style:none; }

.welcome ul {
  float: left;
  list-style: none;
  width: auto;
}

.menu {
margin-top:5px;}
.menu.img {
border:none;}

.th_menu {
float:left; text-align:center; margin-bottom:10px; width:100%; }

/* rellotge cuenta atras */


.rellotge{ 
	font:"Courier New", Courier, monospace;
	color:#333;
}

.rellotge a:link,active,visited{ 
	font:"Courier New", Courier, monospace;
	color:#333;
}

.rellotge a:hover{ 
	font:"Courier New", Courier, monospace;
	background-color:none;
	color:#000;
	text-decoration:underline;
}

#rellotgegran{ margin-top:25px; }
.rellotgegran{ 
	font:"Courier New", Courier, monospace;
	color:#333;
	font-size:56px;
}

.rellotgegran a:link,active,visited{ 
	font:"Courier New", Courier, monospace;
	color:#333;
	font-size:56px;

}


.rellotgegran a:hover{ 
	font:"Courier New", Courier, monospace;
	background-color:none;
	color:#000;
	text-decoration:underline;
	font-size:56px;

}
